<!DOCTYPE html>
<html lang="en" ng-app="MultiViewApp">
<head>

    <title>UI Router com multiplas views</title>

    <meta charset="UTF-8">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <!-- AngularJS Lib-->
    <script src="assets/vendor/angular/angular.js"></script>
    <!-- Módulo do UI Router -->
    <script src="assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- AngualarJS Material Lib e suas dependencias-->
    <script src="assets/vendor/angular-material/angular-material.js"></script>
    <script src="assets/vendor/angular-animate/angular-animate.js"></script>
    <script src="assets/vendor/angular-aria/angular-aria.js"></script>
    <script src="assets/vendor/angular-messages/angular-messages.js"></script>

    <!-- AngularJS Material CSS-->
    <link rel="stylesheet" href="assets/vendor/angular-material/angular-material.css"/>

    <!-- Css do app-->
    <link rel="stylesheet" href="assets/css/app.css"/>

    <style type="text/css">
        /**
         * Esconde enquanto o Angular n esta carregado e inicializado
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body layout="row" ng-cloak>


    <!--<div ng-view="login"></div>-->

    <div ng-view="dashboard"></div>



    <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                ng-click="ul.toggleList()" aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar class="md-whiteframe-z1">
            <h3>Users</h3>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                    <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>
            <h3>Angular Material - Starter App</h3>
        </md-toolbar>

        <md-content flex id="content">
            <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>

            <md-button class="contact" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
                <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
                <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        </md-content>

    </div>-->


    <!-- Arquivos da aplicação  -->

    <!-- Modulo principal -->
    <script src="application/app.module.js"></script>
    <script src="application/app.config.js"></script>

    <!-- Modulo carregador de modulos de terceiros -->
    <script src="application/modules/core.module.js"></script>

    <!-- Modulo dashboard -->
    <script src="application/modules/dashboard/dashboard.module.js"></script>
    <script src="application/modules/dashboard/dashboard.states.js"></script>


</body>

</html>